geometry : LHCb
acceptance : AllIn
useEvtGen : TRUE
evtGenUsePHOTOS : TRUE
paramsStable : M P PT PX PY PZ origX origY origZ
paramsDecaying : M P PT PX PY PZ vtxX vtxY vtxZ origX origY origZ
param : mkl M 3 4 TRUE
param : mee M 2 4 TRUE

@0
  	name : B_plus
	evtGenModel : PHSP
@1
  	name : D0
	smear : LHCbGeneric
	evtGenModel : ISGW2
@2
  	name : e_plus
	smear : LHCbGeneric
@3
  	name : K_plus
	smear : LHCbGeneric
@4
  	name : e_minus
	smear : LHCbElectron
@5
  	name : antinue
	smear : LHCbGeneric
