geometry : LHCb
acceptance : AllIn
useEvtGen : TRUE
evtGenUsePHOTOS : TRUE
paramsStable : M P PT PX PY PZ origX origY origZ
paramsDecaying : M P PT PX PY PZ vtxX vtxY vtxZ origX origY origZ

@0
  	name : B_plus
	evtGenModel : BTOSLLBALL 5
@1
  	name : Kst
	smear : LHCbGeneric
@2
  	name : e_plus
	smear : LHCbElectron
@3
  	name : e_minus
	smear : LHCbElectron
@4
  	name : K_plus
	smear : LHCbGeneric
@5
  	name : pi_minus
	smear : LHCbGeneric

