geometry : LHCb
acceptance : AllIn
useEvtGen : TRUE
evtGenUsePHOTOS : FALSE
paramsStable : M P PT PX PY PZ origX origY origZ
paramsDecaying : M P PT PX PY PZ vtxX vtxY vtxZ origX origY origZ

@0
  	name : B_plus
	evtGenModel : ISGW2
@1
  	name : D0
	smear : LHCbGeneric
@2
  	name : e_plus
	smear : LHCbElectron
@3
  	name : nue
	smear : LHCbGeneric
@4
  	name : K_plus
	smear : LHCbGeneric
@5
  	name : e_minus
	smear : LHCbElectron
@6
  	name : antinue
	smear : LHCbGeneric
